/* LESS CSS Deklarations */

.container {
  margin: 0 auto;
  width: 50%;
  margin-top: 35px;
}

.game-content {
  .row {
    margin-top: 20px;
  }

  >div:not(.panel-heading) {
    padding-left: 30px;
    padding-right: 30px;
  }

  audio {
    width: 100%;
  }
}