/* LESS CSS Deklarations */

.dr-logo {
  width: 100px;
  padding: 15px 15px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 35px;

  .row {
    margin-top: 20px;
  }

  .progress {
    display: none;
  }
}
