<template name="game">
  <div class="container">
    <div class="game-content panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{current_question}}</h3>
        <!-- <p class="text-right">{{current_points}}</p> -->
      </div>

      <div class="panel-body">
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
            <span class="sr-only">{{current_points}}</span>
          </div>
        </div>


        <audio controls="controls" autoplay="autoplay">
          <source src="{{sound_segment}}" type="audio/mpeg" />
            <!-- Backup -->
            <embed height="50" width="100" src="{{sound_segment}}">
        </audio>

        <div class="row">
          <div class="col-md-6">
            <a href="#" class="btn btn-block btn-lg btn-primary">A</a>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-block btn-lg btn-primary">B</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="#" class="btn btn-block btn-lg btn-primary">C</a>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-block btn-lg btn-primary">D</a>
          </div>
        </div>
      </div>
    </div>
</template>
