<template name="game">
  <div class="container">
    <h3>{{current_question}}</h3>

    {{> progress}}
    {{> play}}
    {{> audio}}

    <div class="row">
      <a href="#" class="btn btn-block btn-lg btn-primary">A</a>
    </div>
    <div class="row">
      <a href="#" class="btn btn-block btn-lg btn-primary">B</a>
    </div>
    <div class="row">
      <a href="#" class="btn btn-block btn-lg btn-primary">C</a>
    </div>
    <div class="row">
      <a href="#" class="btn btn-block btn-lg btn-primary">D</a>
    </div>

  </div>
</template>

<template name="progress">
  {{#constant}}
  <div class="progress progress-striped active">
    <div class="bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    </div>
  </div>
  {{/constant}}
</template>

<template name="play">
  <div class="row">
    <input type="button" class="btn btn-block btn-success" value="Play" id="play" />
  </div>
</template>

<template name="audio">
  {{#constant}}
  <audio id="audio" src="{{sound_segment}}"></audio>
  {{/constant}}
</template>
