<template name="lobby">
  <div class="container text-center">
    <h1>{{ app_name }}</h1>
    
    <div class="hero-unit">
      <p class="lead">To play now, enter your name and click the button below!</p>
      
      <div class="input-append">
        <input class="span2" id="myname" type="text" placeholder="your name">
        <button id="startgame" class="btn btn-primary" type="button" {{disabled}}>Play!</button>
      </div>
    </div>
    
    {{> players}}
  </div>
</template>

<template name="players">
  <div class="players">
    <h2>{{ player_count }} players in lobby:</h2>
    
    {{#each players}}
    <p class="span2">{{name}}</p>
    {{/each}}
  </div>
</template>
