<template name="lobby">
  <div class="container text-center">
    <h1>{{ app_name }}</h1>

    <p class="lead">Indtast dit navn og tryk "Spil!"</p>

    <!-- <div class="input"> -->
    <!--   <div class="form-group"> -->
    <!--     <input id="myname" class="form-control" type="text" placeholder="Navn"> -->
    <!--   </div> -->
    <!--   <div class="form-group"> -->
    <!--     <button id="startgame" class="btn btn-primary" type="button" {{disabled}}>Spil!</button> -->
    <!--   </div> -->
    <!-- </div> -->

    <div class="form-group">
      <div class="input-append">
        <input id="myname" class="form-control input-medium" type="text" placeholder="Name">
        <span class="input-group-btn">
          <button id="startgame" class="btn btn-default btn-primary" type="button" {{disabled}}>Play!</button>
        </span>
      </div>
    </div>

    {{> players}}
  </div>
</template>

<template name="players">
  <div class="players">
    <h3>{{ waiting }}</h3>

    {{#each players}}
    {{#if idle}}
    <p class="span2" style="color:grey">{{name}}</p>
    {{else}}
    <p class="span2">{{name}}</p>
    {{/if}}
    {{/each}}
  </div>
</template>
